<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Responsive_table :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" th:href="@{css/bootstrap-3.3.7-dist/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link th:href="@{css/style.css}" rel='stylesheet' type='text/css' />
<link th:href="@{css/style-responsive.css}" rel="stylesheet"/>


<!-- font CSS -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" th:href="@{css/font.css}" type="text/css"/>
<link th:href="@{css/font-awesome.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{css/style-form.css}">

<!-- //font-awesome icons -->
<script th:src="@{js/jquery2.0.3.min.js}"></script>
<script th:src="@{js/jqueryv3.6.0.js}"></script>
</head>
<body>
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">

    <a href="http://localhost:9999/admin" class="logo">
        VISITORS
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>
<!--logo end-->

<div class="top-nav clearfix">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">

        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="" th:src="@{images/3.png}">
                <span class="username" th:utext="${username}"></span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <li><a th:href="@{/logout}"><i class="fa fa-key"></i> Log Out</a></li>
            </ul>
        </li>
        <!-- user login dropdown end -->
       
    </ul>
    <!--search & user info end-->
</div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="http://localhost:9999/admin">
                        <i class="fa fa-dashboard"></i>
                        <span>Tổng quan</span>
                    </a>
                </li>
                
                
                <li class="sub-menu">
                    <a class="active" href="javascript:;">
                        <i class="fa fa-th"></i>
                        <span>Sản phẩm</span>
                    </a>
                    <ul class="sub">
                        <li><a href="http://localhost:9999/admin/sanpham">Sản phẩm </a></li>
                        <li><a href="http://localhost:9999/admin/sanphamsize">Sản phẩm size </a></li>
                        <li><a class="active" href="http://localhost:9999/admin/sanphamkhuyenmai">Sản phẩm khuyến mại </a></li>
                        <li><a href="http://localhost:9999/admin/sanphamdanhgia">Sản phẩm được đánh giá </a></li>
                    </ul>
                </li>

                <li>
                  <a href="http://localhost:9999/admin/thuonghieu">
                      <i class="fa fa-book"></i>
                      <span> thương hiệu sản phẩm </span>
                  </a>
                </li>

                <li>
                  <a href="http://localhost:9999/admin/khuyenmai">
                      <i class="fa fa-money"></i>
                      <span> Khuyến mãi </span>
                  </a>
                </li>

                <li>
                  <a href="http://localhost:9999/admin/loaisanpham">
                      <i class="fa fa-book"></i>
                      <span> Loại sản phẩm </span>
                  </a>
                </li>

                <li>
                  <a href="http://localhost:9999/admin/size">
                      <i class="fa fa-book"></i>
                      <span> Size </span>
                  </a>
                </li>

                <li>
                  <a href="http://localhost:9999/admin/nguoidung">
                      <i class="fa fa-group"></i>
                      <span> Người dùng </span>
                  </a>
                </li>



                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>Hóa đơn</span>
                    </a>
                    <ul class="sub">
                      <li><a href="http://localhost:9999/admin/donhang"> Đơn hàng </a></li>
                      <li><a href="http://localhost:9999/admin/hoadon">Hóa đơn </a></li>
                    </ul>
                </li>
                
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>Báo cáo</span>
                    </a>
                    <ul class="sub">
                        <li><a href="chartjs.html">Chart js</a></li>
                        <li><a href="flot_chart.html">Flot Charts</a></li>
                    </ul>
                </li>
                
            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
      <div style="    display: flex;">
      <button title=" Thêm " style="background: transparent; border: none;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" >
        <i class="fa fa-plus" style="color : black "></i>
        <span style="color: black;"> Add </span>
      </button>
      <input title="search" id="search" type="text" class="form-control search" placeholder=" Search">
      </div>
      <div class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" align = center>
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row" align = center >
                  <h3> Thêm sản phẩm cho web </h3>
                  <form action="#">
                    <table  cellspacing=20 height="500" width="550" class="table" ui-jq="footable" ui-options='{
                      "paging": {
                        "enabled": true
                      },
                      "filtering": {
                        "enabled": true
                      },
                      "sorting": {
                        "enabled": true
                      }}'>
                      
                        <td>Tên sản phẩm * </td>
                        <td>
                          <select name="masp" id="masp" required >
                            <option value="" > chọn sản phẩm  </option>
                            <option value="HA0001"> NIKE </option>
                            <option value="HA0002"> CAMPER </option>
                            <option value="HA0003"> NEW BLANCE </option>
                            <option value="HA0005"> CONVERSE </option>
                            <option value="HA0006"> PUMA </option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td> Tên khuyến mãi </td>
                        <td>
                          <select name="masize" id="masize" required >
                            <option value="" > chọn khuyến mại </option>
                            <option value="KM0001"> sale 50% </option>
                            <option value="KM0002"> sale hết date </option>
                            <option value="KM0003"> black free </option>
                          </select>
                        </td>
                      </tr>
                      
                    </table>
                    <input type="submit" name="add" id="add" style="margin-top : 20px" value="Thêm">
                  </form>
              </div>
            </div>

          </div>
        </div>

      </div>
 <div class="panel panel-default">
    <div class="panel-heading">
     Bảng Sản Phẩm khuyến mại
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead >
          <tr>
            <th style="text-align:center"> Tên Sản Phẩm</th>
            <th style="text-align:center"> Giá Sản Phẩm </th>
            <th style="text-align:center"> Giá Khuyến Mại </th>
            <th style="text-align:center"> Ngày Bắt Đầu </th>
            <th style="text-align:center"> Ngày Kết Thúc </th>
            <th style="text-align:center"> Ngày Còn Lại</th>
            <th style="text-align:center">Tác Vụ </th>
          </tr>
        </thead>
        <tbody id="load_data">

        </tbody>
      </table>

    </div>
  </div>
</div>
</section>
 <!-- footer -->
		  <div class="footer">
			<div class="wthree-copyright">
			  <p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
			</div>
		  </div>
  <!-- / footer -->
</section>

<!--main content end-->
</section>
<script th:src="@{admin/js/bootstrap.js}"></script>
<script th:src="@{admin/js/jquery.dcjqaccordion.2.7.js}"></script>
<script th:src="@{admin/js/scripts.js}"></script>
<script th:src="@{admin/js/jquery.slimscroll.js}"></script>
<script th:src="@{admin/js/jquery.nicescroll.js}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" th:src="@{admin/js/flot-chart/excanvas.min.js}"></script><![endif]-->
<script th:src="@{admin/js/jquery.scrollTo.js}"></script>
<script>
     var page = 1;
     var action = 'inactive';
     var check = 1;
     var keyword = "" ;

        $(document).ready(function(){
            if(action == 'inactive'){
                action = 'active';
                LoadData(page,keyword);
            }

            $(window).scroll(function(){

                if($(window).scrollTop() + $(window).height() > $('#load_data').height() && check == 1 && action == 'inactive')
                {
                    action = 'active';
                    page = page + 1;
                    setTimeout(function(){
                        LoadData(page,keyword);
                    },1000);
                }
            });

            $('body').on('click','.Showconfim',function(){
                var name = $(this).data('name');
                var id = $(this).data('id');
                $('#ThuonghieuName').text(name);
					$('#yesOption').attr('href','/deleteth?id='+id);
					$('#ConfimationId').modal('show');
            });
        });
        function LoadData(page,keyword) {
            $.ajax({
                url: 'http://localhost:9999/admin/spkmall',
                type: 'GET',
                data: {
                    page : page,
                    keyword : keyword,
                },
                success: function (rs) {
                    if(rs == ""){
                        check = 2;
                    }else{
                        var str = "";
                        $.each(rs, function (i, item) {


                            str += "<tr data-expanded='true' align='center' class='trung'> " ;
                            str += "<td>" + item.tenSP;
                            str += "</td>";
                            str += "<td >" + item.giaSP;
                            str += "</td>";
                            str += "<td>" + item.giakm ;
                            str += "</td>";
                            str += "<td>" + item.ngaybd ;
                            str += "</td>";
                            str += "<td>" + item.ngaykt ;
                            str += "</td>";
                            if(item.songay < 0){
                                str += "<td style='color : red'>" + "hết khuyến mại" ;
                                str += "</td>";
                            }else{
                                str += "<td>" + item.songay ;
                                str += "</td>";
                            }
                            str += "<td>";
                            str += "<a class='editspkm'>";
                            str += "<button title=' Sửa ' data-toggle='modal' data-target='.bs-example-modal-lg1'>";
                            str += "<i class='fa fa-wrench' style='color : black; '>";
                            str += "</i>";
                            str += "</button>";
                            str += "</a>";
                            str += "<a class='Showconfim' >";
                            str += "<button title=' xóa '>";
                            str += "<i class='fa fa-times' style='color : black '>";
                            str += "</i>";
                            str += "</button>";
                            str += "</a>";
                            str += "</td>";
                            str += "</tr>";

                        });

                        // id của thẻ tbody để hiển thị tất cả cá tr ra
                        $('#load_data').append(str);
                        action = 'inactive';
                        check = 1;

                    }
                }
            });
      };

      $('#search').keypress(function(event){
          var keycode = (event.keyCode ? event.keyCode : event.which);
          if (keycode == '13') {
            keyword=$('#search').val();
            page = 1;
            [...document.getElementsByClassName("trung")].map(n => n && n.remove());
            LoadData(page,keyword);
          }
      });
</script>
</body>
</html>
