<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/themify-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/me.css}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style=" background-color: darkgray;">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        hello.colorlib@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +65 11.188.888
                    </div>
                </div>
                <div class="ht-right">
                    <a href="#" class="login-panel"><i class="fa fa-user"></i>Login</a>
                    <!-- <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' data-image="img/flag-1.jpg" data-imagecss="flag yt"
                                data-title="English">English</option>
                            <option value='yu' data-image="img/flag-2.jpg" data-imagecss="flag yu"
                                data-title="Bangladesh">German </option>
                        </select>
                    </div> -->
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <button type="button" class="category-btn">All Categories</button>
                            <div class="input-group">
                                <input type="text" placeholder="What do you need?">
                                <button type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="cart-icon">
                                <a href="#">
                                    <i class="icon_bag_alt"></i>
                                    <span>3</span>
                                </a>
                                <div class="cart-hover">
                                    <div class="select-items">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="si-pic"><img src="img/select-product-1.jpg" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>$60.00 x 1</p>
                                                            <h6>Kabino Bedside Table</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="si-pic"><img src="img/select-product-2.jpg" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>$60.00 x 1</p>
                                                            <h6>Kabino Bedside Table</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="select-total">
                                        <span>total:</span>
                                        <h5>$120.00</h5>
                                    </div>
                                    <div class="select-button">
                                        <a href="#" class="primary-btn view-card">VIEW CARD</a>
                                        <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                                    </div>
                                </div>
                            </li>
                            <li class="cart-price">$150.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>All departments</span>
                        <ul class="depart-hover">
                            <li class="active"><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Underwear</a></li>
                            <li><a href="#">Kid's Clothing</a></li>
                            <li><a href="#">Brand Fashion</a></li>
                            <li><a href="#">Accessories/Shoes</a></li>
                            <li><a href="#">Luxury Brands</a></li>
                            <li><a href="#">Brand Outdoor Apparel</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./shop.html">Shop</a></li>
                        <li><a href="#">Collection</a>
                            <ul class="dropdown">
                                <li><a href="#">Men's</a></li>
                                <li><a href="#">Women's</a></li>
                                <li><a href="#">Kid's</a></li>
                            </ul>
                        </li>
                        <!-- <li><a href="./blog.html">Blog</a></li> -->
                        <li><a href="./contact.html">Contact</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./blog-details.html">Blog Details</a></li>
                                <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                <li><a href="./check-out.html">Checkout</a></li>
                                <li><a href="./faq.html">Faq</a></li>
                                <li><a href="./register.html">Register</a></li>
                                <li><a href="./login.html">Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- tài khoản của tôi -->
    <div class="me-container">
        <div class="me-left" role="tablist">
            <ul class="nav" role="tablist" style="flex-direction: column;">
                <li>
                    <i class="fas fa-unlock-alt" style="margin-right : 10px"></i>
                    <a class="active" data-toggle="tab" href="#tab-1" role="tab">Đổi mật khẩu</a>
                </li>
                <li style="margin-top : 20px">
                    <i class="far fa-clipboard" style="margin-right : 10px"></i>
                    <a data-toggle="tab" href="#tab-2" role="tab">Đơn mua</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade-in active me-password" id="tab-1" role="tabpanel">
                <div class="title">
                    <h1 class="title-1" style="font-size: 20px;">
                        Đổi Mật Khẩu
                    </h1>
                    <div class="title-2">
                        Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác
                    </div>
                </div>

                <div class="title-content">
                    <div class="mk">
                        <div class="mk-nho">
                            <div class="mk1">
                                <label>Mật Khẩu Hiện Tại </label>
                                <input id="password" type="password">
                                <button id="forwart" style="border: none;background-color: white;margin-left: 50px;">
                                    Quên mật khẩu ?
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mk">
                        <div class="mk-nho">
                            <div class="mk1">
                                <label>Mật Khẩu Mới </label>
                                <input type="password" id="password-new">
                            </div>
                        </div>
                    </div>
                    <div class="mk">
                        <div class="mk-nho">
                            <div class="mk1">
                                <label>Nhập Lại Mật Khẩu </label>
                                <input id="confim-password" type="password">
                            </div>
                        </div>
                    </div>
                    <button style="background-color: red;
                    border: none;
                    padding: 10px 20px;
                    color: white;">Xác Nhận</button>
                </div>
            </div>
            <div class="tab-pane fade" class="me-donhang" id="tab-2" role="tabpanel">
                <div class="tab-item">
                    <ul class="nav" role="tablist">
                        <li>
                            <a data-toggle="tab" href="#tab-6" role="tab"> Tất cả đơn </a>
                        </li>
                        <li>
                            <a class="active" data-toggle="tab" href="#tab-3" role="tab"> CHỜ XÁC NHẬN </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab-4" role="tab">ĐÃ GIAO </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab-5" role="tab"> ĐÃ HỦY </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-item-content">
                    <div class="tab-content" style="margin: 0;
                        padding: 0;
                        width: 950px;
                        margin-top: 50px;">
                        <div class="tab-pane fade-in active" id="tab-3" role="tabpanel">
                            <div class="nd">
                                <div class="nd1">
                                    <div class="nd-left">
                                        <img src="./img/products/product-1.jpg">
                                        <div class="nd-text">
                                            <span>cơm cháy ngon ngọt</span>
                                            <span>X1</span>
                                        </div>
                                    </div>
                                    <div>
                                        <del style="color: darkgray;">24.000</del>
                                        <span style="color: red;">1.000</span>
                                    </div>
                                </div>
                                <hr>

                                <div class="nd2" >
                                    <span style="color: red;">2.500</span> Tổng số tiền :
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-4" role="tabpanel">
                            <div class="nd">
                                <div class="nd1">
                                    <div class="nd-left">
                                        <img src="./img/products/product-1.jpg">
                                        <div class="nd-text">
                                            <span>cơm cháy ngon ngọt</span>
                                            <span>X1</span>
                                        </div>
                                    </div>
                                    <div>
                                        <del style="color: darkgray;">24.000</del>
                                        <span style="color: red;">1.000</span>
                                    </div>
                                </div>
                                <hr>

                                <div class="nd2" >
                                    <span style="color: red;">2.500</span> Tổng số tiền :
                                </div>
                                <div class="nd3" >
                                    <button >
                                        ĐÁNH GIÁ
                                    </button>
                                    <button >
                                        MUA LẠI
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-5" role="tabpanel">
                            <div class="nd">
                                <div class="nd1">
                                    <div class="nd-left">
                                        <img src="./img/products/product-1.jpg">
                                        <div class="nd-text">
                                            <span>cơm cháy ngon ngọt</span>
                                            <span>X1</span>
                                        </div>
                                    </div>
                                    <div>
                                        <del style="color: darkgray;">24.000</del>
                                        <span style="color: red;">1.000</span>
                                    </div>
                                </div>
                                <hr>

                                <div class="nd2" >
                                    <span style="color: red;">2.500</span> Tổng số tiền :
                                </div>
                                <div class="nd3" >
                                    <button >
                                        MUA LẠI
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-6" role="tabpanel">
                            <div class="tk">
                                <input autocomplete="off"
                                    placeholder="Tìm kiếm theo Tên Shop, ID đơn hàng hoặc Tên Sản phẩm">
                            </div>

                            <div class="nd">
                                <div class="nd1">
                                    <div class="nd-left">
                                        <img src="./img/products/product-1.jpg">
                                        <div class="nd-text">
                                            <span>cơm cháy ngon ngọt</span>
                                            <span>X1</span>
                                        </div>
                                    </div>
                                    <div>
                                        <del style="color: darkgray;">24.000</del>
                                        <span style="color: red;">1.000</span>
                                    </div>
                                </div>
                                <hr>

                                <div class="nd2" >
                                    <span style="color: red;">2.500</span> Tổng số tiền :
                                </div>
                                <div class="nd3" >
                                    <button >
                                        ĐÁNH GIÁ
                                    </button>
                                    <button >
                                        MUA LẠI
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- kết thúc tài khoản của tôi -->

    <!-- Instagram Section Begin -->
    <div class="instagram-photo">
        <div class="insta-item set-bg" data-setbg="img/insta-1.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/insta-2.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/insta-3.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/insta-4.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/insta-5.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/insta-6.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
    </div>
    <!-- Instagram Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello.colorlib@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Serivius</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>My Account</h5>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Shopping Cart</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Join Our Newsletter Now</h5>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="payment-pic">
                            <img src="img/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/jquery-ui.min.js}"></script>
    <script th:src="@{js/jquery.countdown.min.js}"></script>
    <script th:src="@{js/jquery.nice-select.min.js}"></script>
    <script th:src="@{js/jquery.zoom.min.js}"></script>
    <script th:src="@{js/jquery.dd.min.js}"></script>
    <script th:src="@{js/jquery.slicknav.js}"></script>
    <script th:src="@{js/owl.carousel.min.js}"></script>
    <script th;src="@{js/main.js}"></script>
</body>

</html>